div[id^="font-picker"] .dropdown-button {
    background: transparent;
  }
  
div[id^="font-picker"] {
    width: 170px;
}

div[id^="font-picker"] ul{
    background: #424242;
    position:absolute;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  }

div[id^="font-picker"] .dropdown-button:focus {
    background: transparent;
}
div[id^="font-picker"] .dropdown-button:hover {
    background: transparent;
}
.colorButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}