.App {
  text-align: center;
}

#header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

#footer{
  background-color: transparent;
  position: absolute;
  margin-bottom: 1%;
  bottom: 0px;
  width: 100%;
  pointer-events: none;
}

/*
.App-link {
  color: #61dafb;
}*/